<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    {% load feedtags %}
    <link rel="icon" href="{% static 'img/logo.jpg' %}">

    <title>Mobius</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
	<style type="text/css">
		body {
			min-height: 2000px;
			padding-top: 20px;
			background-color: #333;
		}
		.col-md-12 {
			padding:1px;
		}
		.panel {
			border: 0;
			margin-bottom: 0px;
			border-radius: 0px;
		}
		.panel-danger {
			margin-top: 10px;
		}
		#footer {
		  bottom: 0;
		  width: 100%;
		  /* Set the fixed height of the footer here */
		  height: 65px;
		}
		nav {
			text-align: center;
		}
		.container-question {
			margin-top: 21px;
		}
	</style>
	
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript"
 		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
    <script>
	    $(document).ready(function() {     
	    	for (var i=1; i<=100; i++)
  		    {
  		    	var class_name = 'div.question-' + i.toString();
  		    	$(class_name).removeClass("hidden");
  		    }
	    	$('li.page-1').addClass("disabled");
	    	 
	    });
    	$(document).ready(function() 
   		 {
   		    $('ul.pagination li').click(function(e) 
   		    { 
   		     var page = parseInt($(this).find("span").text());
   		     var start = (page-1)*5 + 1;
   		     var end = page*5;
   		  	 for (var i=1; i<=parseInt({{question_num}}); i++)
		     {
		    	 var class_name = 'div.question-' + i.toString();
		    	 $(class_name).addClass("hidden");
		     }
   		     for (var i=start; i<=end; i++)
   		     {
   		    	 var class_name = 'div.question-' + i.toString();
   		    	 $(class_name).removeClass("hidden");
   		     }
   		     
   		     for (var i=1; i<=(parseInt({{question_num}})/5 + 1); i++) 
   		     {
   		    	var class_name = 'li.page-' + i.toString();
   		    	$(class_name).removeClass("disabled");
   		     }
   		     $('li.page-'+page).addClass("disabled");
   		     
   		    });
   		 });
    	
    	$(document).ready(function() 
  		 {
  		    $('p.change-search').click(function(e) 
  		    { 
  		     var text_form = 'form.text-form';
  		     var image_form = 'form.image-form';
  		     if($(text_form).hasClass("hidden")) {
  		    	 $(image_form).addClass("hidden");
  		    	 $(text_form).removeClass("hidden");
  		     } else {
 		    	$(image_form).removeClass("hidden");
 		    	$(text_form).addClass("hidden");
  		     }
  		    });
  		 });
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
	
  <body>
 
	 <div class="navbar navbar-inverse navbar-fixed-top">
	 	<div class="container">
	        <div class="navbar-header">
	            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">Mobius &middot; 搜索</a>
	        </div>
			<center>
				<div class="navbar-collapse collapse" id="navbar-main">
	            	<ul class="nav navbar-nav">
	            		<li><a href="#" target=“_blank”>权限和关于</a></li>
	                    <li class="active"><a>{{task}}</a></li>
	                    <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                    {{user.username}} <b class="caret"></b>
		                </a>
		                {% if user.username == "yuyao" %}
		                <ul class="dropdown-menu">
		                    <li><a href="../tongji" target=“_blank”>网站统计</a></li>
		                    <li><a href="/mobius/se/admin/" target=“_blank”>管理员</a></li>
		                    <li><a href="/mobius/se/question/visualizer/logout">退出登录</a></li>
		                </ul>
		                {% else %}
		                <ul class="dropdown-menu">
		                    <li><a href="../tongji" target=“_blank”>网站统计</a></li>
		                    <li><a href="/mobius/se/question/visualizer/logout">退出登录</a></li>
		                </ul>
		                {% endif %}
	                </ul>
		        </ul>
	                <form class="navbar-form navbar-right text-form" role="search" action="/mobius/se/question/visualizer/text/" method="POST">
	                {% csrf_token %}
	                    <div class="form-group">
	                        <input type="hidden" name="limit" value="30" id="search_param">
						    <input type="hidden" name="task" value="{{task_value}}" id="search_param">
					        <input type="text" class="form-control" name="keywords" required="true", placeholder={{keywords}}>
	                    </div>
	                    <button type="submit" class="btn btn-success">GO!</button>
	                </form>
	                <form enctype="multipart/form-data" class="navbar-form navbar-right image-form hidden" role="search" action="/mobius/se/question/visualizer/image/" method="POST">
	                {% csrf_token %}
	                    <div class="form-group">
	                        <input type="hidden" name="limit" value="30" id="search_param">
						    <input type="hidden" name="task" value="{{task_value}}" id="search_param">
					        <input type="file" class="form-control" name="file" required="true" placeholder="请上传图片...">
	                    </div>
	                    <button type="submit" class="btn btn-success">GO!</button>
	                </form>
	            </div>
	        </center>
	    </div>
	</div>
	
    <div class="container container-question">
    	<div>
    		{% if file_path %}
    		<div class="panel panel-danger">
				<div class="panel-heading">搜索图片</div>
				<div class="panel-body">
					<img src="{{file_path}}" class="img-responsive center-block">
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">OCR结果</div>
				<div class="panel-body">
					{{keywords | safe}}
				</div>
			</div>
			{% else %}
			<div class="panel panel-danger">
				<div class="panel-heading">搜索关键字</div>
				<div class="panel-body">
					{{keywords | safe}}
				</div>
			</div>
			{% endif %}
		</div>
		{% if not hits %}
		<div>
    		<div class="panel panel-danger">
				<div class="panel-body">
					抱歉，都不到任何结果
				</div>
			</div>
		</div>
		{% else %}
    	{% for hit in hits %}
    	<div class="question-{{forloop.counter}} hidden">
    		<div class="panel panel-danger">
				<div class="panel-heading">{{forloop.counter}}. 拍搜识别结果
                    <span style="float:right">time: {{ hit|source_time }} &nbsp;&nbsp;
                        fid:{{hit|source_fid}}   &nbsp;&nbsp;uid:{{ hit|source_uid }}</span>
                </div>
				<div class="panel-body">
					{{hit|source_ocrResult}}
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">搜索结果</div>
				<div class="panel-body">
                    {% for rs in hit|source_searchResult %}
					<span style="float:left">{{ rs }}&nbsp;&nbsp;&nbsp;</span>
                    {% endfor %}
				</div>
			</div>

		</div>
		{% endfor %}
        {% endif %}
		<nav>
		  <ul class="pagination pagination-lg">
		    {% for page in pages %}
		    <li class="page-{{forloop.counter}}"><span>{{page}}</span></li>
		    {% endfor %}
		  </ul>
		</nav>
		
	</div>

	<div id="footer">
	    <div class="container">
	        <div class="row">
	            <p><center><a style="color:#fff">搜索可视化系统 by @yao.yu</a> <br/> <p class="footertext" style="color:#fff">Copyright 2017</p></center></p>
	        </div>
	    </div>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>